.currencyWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.currencyLabel {
    font-weight: bold;
    font-size: 24px;
    margin-right: 1vw;
    color: darkblue;
    order: 0;
}

.currencyInput {
    order: 1;
    font-size: 24px;
    padding: 1vh 0.5vw;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 2px;

    &:focus {
        border-color: #66afe9;

        ~ label {
            color: black;
        }
    }
}

.currencyName {
    padding: 0;
    margin: 0;
    color: darkgray;
}