.App {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: content-box;
  padding: 2vh 2vw;
  overflow-x: hidden;
}

h1 {
  margin: 2vh;
}

.converterWrapper {
  width: 30%;
  background: linear-gradient(90deg, #b9deed, #efefef);
  display: inline-flex;
  flex-direction: column;
  padding: 4vh 2vw;
  min-height: 500px;
}

.dropdownWrapper {
  position: relative;

  .addCurrencyButton {
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: white;
  }

  .additionCurrencies {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 24px;
    width: 75%;
    background-color: white;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 170px;

    &.visibleAdditionCurrencies {
      display: block;
    }
  }
}

.loading {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
  margin: auto;
}

.loadingSvg {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #33a9ff;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}